html {
    height: 100%;
}

body {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.scoreboard {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.player {
    margin: 0 5px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body .signs .highlight,
.player.highlight {
    background-color: #333333;
}

.score {
    flex: 1;
    text-align: center;
}

.score .board {
    display: flex;
    justify-content: center;
}

.score .board .x {
    padding-right: 5px;
    border-right: whitesmoke thin solid;
}

.score .board .o {
    padding-left: 5px;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.players > div {
    padding: 5px;
    width: 35vmin;
    margin: 0 5px;
    box-sizing: border-box;
    font-size: 2em;
}

.cells {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 70vmin;
    height: 70vmin;
    background-color: whitesmoke;
    border: whitesmoke 2px solid;
}

.sign,
.cell {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign {
    align-items: center;
    font-size: 5vmin;
}

.cell {
    background-color: black;
    font-size: 15vmin;
}

.x .sign,
.cell.x,
.modal .sign.x {
    color: red;
}

.o .sign,
.cell.o,
.modal .sign.o {
    color: blue;
}

footer {
    padding: 10px;
}

.message {
    text-align: center;
    padding: 10px;
}

main > div > button {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.button {
    border-radius: 7px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    outline: none;
    background: #ccc;
    color: #0b0e07;
}

.button:hover {

}

.button:active {
    position: relative;
    top: 1px;
}

.button-blue {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    color: #ffffff;
}

.button-blue:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.modal {
    position: absolute;
    width: 80vw;
    min-height: 30vh;
    max-height: 90vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0688fa;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body .label {
    margin-right: 5px;
    flex: 1;
}

.modal-body form {
    min-width: 75%;
}

.modal-body form > div,
.modal-body form {
    display: flex;
    flex-flow: column;
}

.modal-body form > .button {
    align-self: center;
}

.modal-body form input {
    flex: 1;
}

.modal-body form > div > div {
    display: flex;
    align-items: center;

}

.modal-body form > div:not(:last-child),
.modal-body form > div > div:not(:last-child) {
    margin-bottom: 10px;
}

.modal-body .signs {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.modal-body .sign {
    padding: 5px;
    line-height: 1;
}

.modal .close,
.modal .sign {
    cursor: pointer;
}

.modal-body .error-message {
    color: red;
}


.hidden {
    display: none !important;
}
